<% content_for :title, "Ridings" %>
<div class="container">
  <%= paginate @ridings %>
  <div class="cards">
  <% @ridings.each do |riding| %>
    <%= render partial: 'riding', locals: {riding: riding} %>
  <% end %>
  <%= paginate @ridings %>
  </div>
</div>