<% content_for :title, "Ridings" %>
<div class="container">
  <div class="cards">
    <%= render partial: 'riding', locals: {ridings: @ridings} %>
  </div>
  <p class="pagination">
    <%= link_to_next_page(@ridings, 'Next Page', :remote => true) %>
  </p>
</div>