body {
  margin: 0;

  main {
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;

    div.container {
      @include outer-container;
      padding-top: 0.5rem;

      .spinner {
        margin: auto;
        display: block;
      }
    }
  }
}