body {
  margin: 0;

  main.mdl-layout__content {
    margin-top: 1rem;

    div.container {
      @include outer-container;
      padding-top: 0.5rem;

      .spinner {
        margin: auto;
        display: block;
      }
    }
  }
}