<% content_for :title, "Funder" %>
<div class="container">
  <div id="welcome">
    <h1>Funder</h1>
    <p>Find out which organizations in your riding get funding from the Ontario Provincial Government</p>

    <%= form_tag get_my_riding_path(:postal_code), method: :post do %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= label_tag :postal_code, "Postal Code", pattern: "[A-Z]{1}\d{1}[A-Z]{1}\s{1}\d{1}[A-Z]{1}\d{1}", :class => "mdl-textfield__label" %>
        <%= text_field_tag :postal_code, nil, :class => "mdl-textfield__input", style: "height: 4rem;" %>
      </div>
      <%= submit_tag "View Riding", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <% end %>
  </div>
</div>