#riding-shape-area {
  margin: 1.5rem 1.5rem 13rem 1.5rem;
  position: relative;

  @include media($desktop) {
    max-width: 50%;
    margin: 2rem auto 13rem auto;
  }

  &> #left-arrow {
    position: absolute;
    left: 0;
    top: 4rem;
    vertical-align: middle;

    @include media($desktop) {
      position: absolute;
      left: 2;
      top: 4rem;
      vertical-align: middle;
    }
  }

  &> #shape {
    @include clearfix;

    &> img {
      display: block;
      position: absolute;
      left: 25%;
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      margin-bottom: 1rem;
      object-fit: cover;

      @include media($desktop) {
        left: 33%;
      }
    }
  }

  &> #right-arrow {
    position: absolute;
    right: 0;
    top: 4rem;
    vertical-align: middle;
  }
}

#riding-summary-card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;

  #mpp-info {
    padding: 0.75rem;
    margin: 1.5rem;
    background-color: white;
    box-shadow: 0 0 1px #BBB;
    position: relative;

    &> img {
      vertical-align: middle;
      border-radius: 50%;
      width: 3.25rem;
      height: 3.25rem;
      object-fit: cover;
    }

    &> i {
      vertical-align: middle;
    }

    &> h6 {
      color: black;
      font-size: 5.75vw;
      line-height: 2.0rem;
      vertical-align: middle;
      margin: 0 0 0 0.75rem;
      padding: 0;
      display: inline-block;
      max-width: 83%;

      @include media($desktop) {
        font-size: 2.75vw;
      }
    }

    &> p {
      color: $medium-gray;
      font-size: rem(12px);
      display: block;
      margin: 0.325rem 0 0 0;
    }
  }

  #funding-info {
    padding: 0.75rem;
    margin: 1.5rem;
    background-color: white;
    box-shadow: 0 0 1px #BBB;
    position: relative;

    &> i.material-icons {
      vertical-align: middle;
      color: black;
    }

    &> h6 {
      color: black;
      font-size: 5.75vw;
      line-height: 2.0rem;
      vertical-align: middle;
      margin: 0 0 0 0.75rem;
      padding: 0;
      display: inline-block;
      max-width: 83%;

      @include media($desktop) {
        font-size: 1.75vw;
      }
    }

    &> p {
      color: $medium-gray;
      font-size: rem(12px);
      display: block;
      margin: 0.325rem 0 0 0;
    }

    &> a, i.navigate-right {
      position: absolute;
      right: 0;
      top: 1rem;
      color: black;
    }
  }

  #organizations-info {
    padding: 0.75rem;
    margin: 1.5rem;
    background-color: white;
    box-shadow: 0 0 1px #BBB;
    position: relative;

    &> i.material-icons {
      vertical-align: middle;
      color: black;
    }

    &> h6 {
      color: black;
      font-size: 5.75vw;
      line-height: 2.0rem;
      vertical-align: middle;
      margin: 0 0 0 0.75rem;
      padding: 0;
      display: inline-block;
      max-width: 83%;

      @include media($desktop) {
        font-size: 1.75vw;
      }
    }

    &> p {
      color: $medium-gray;
      font-size: rem(12px);
      display: block;
      margin: 0.325rem 0 0 0;
    }

    &> a, i.navigate-right {
      position: absolute;
      right: 0;
      top: 1rem;
      color: black;
    }
  }
}