#welcome {
  text-align: center;

  &> h1 {
    text-align: center;
  }

  &> p {
    text-align: center;
    font-size: 6.5vw;
    margin-left: 1rem;
    margin-right: 1rem;
    color: $medium-gray;
    line-height: 1.925rem;

    @include media($desktop) {
      font-size: 2rem;
      line-height: 2.5rem;
      max-width: 55%;
      text-align: center;
      display: inline-block;
    }

    @include media($tablet) {
      font-size: 2rem;
      line-height: 2.5rem;
      max-width: 60%;
      text-align: center;
      display: inline-block;
    }
  }

  &> form {
    margin-top: 1rem;
    text-align: center;

    &> label {
      font-size: 1.5rem;
    }

    &> input#postal_code[type="text"] {
      width: 80%;
      padding: 1.5rem;
      background-color: #DEDADA;
      text-align: center;
      height: 4rem;

      @include media($desktop) {
        margin-top: 0.5rem;
        width: 40%;
        padding: 0.5rem;
        text-align: center;
        height: 2rem;
      }

      @include media($tablet) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 70%;
        padding: 1rem;
        text-align: center;
        height: 2rem;
      }
    }

    &> input {
      margin-top: 1rem;
      width: 90%;
      padding-top: 2rem;
      padding-bottom: 3rem;
      font-size: 5.5vw;

      @include media($desktop) {
        width: 20%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1rem;
        display: block;
        margin: auto;
      }

      @include media($tablet) {
        width: 30%;
        padding-top: 1rem;
        padding-bottom: 2.75rem;
        font-size: 1.5rem;
        display: block;
        margin: auto;
      }
    }
  }
}