#welcome {
  &> h1 {
    text-align: center;
  }

  &> p {
    text-align: center;
    font-size: 6.5vw;
    margin-left: 1rem;
    margin-right: 1rem;
    color: $medium-gray;
    line-height: 1.925rem;
  }

  &> form {
    margin-top: 2rem;
    text-align: center;

    &> label {
      font-size: 1.5rem;
    }

    &> input#postal_code[type="text"] {
      width: 80%;
      padding: 1.5rem;
      background-color: #DEDADA;
      text-align: center;
      height: 4rem;
    }

    &> input {
      margin-top: 1rem;
      width: 90%;
      padding-top: 2rem;
      padding-bottom: 3rem;
      font-size: 5.5vw;
    }
  }



}