<!-- show amount and source ministry -->
<% payments.each do |pay| %>
  <div class="card-transfer-payment">
    <div class="circle"></div>
    <h6><%= number_to_currency(pay.amount) %></h6>
    <p><%= pay.ministry %></p>
  </div>
<% end %>