<% content_for :title, "Organizations" %>
<div class="container">
  <div class="cards">
    <%= render partial: 'organization', locals: {organizations: @organizations} %>
  </div>
  <p class="pagination">
    <%= link_to_next_page(@organizations, 'Next Page', :remote => true) %>
  </p>
  <div class="mdl-spinner mdl-js-spinner spinner"></div>
</div>