<% content_for :title, "Organizations" %>
<div class="container">
  <%= paginate @organizations %>
  <div class="cards">
  <% @organizations.each do |org| %>
    <%= render partial: 'organization', locals: {org: org} %>
  <% end %>
  <%= paginate @organizations %>
  </div>
</div>