<% content_for :title, @organization.name %>
<div class="container">
  <div class="org-card">
    <div class="card-info-area">
      <i class="material-icons">public</i>
      <h6><%= @organization.name.downcase.split.map(&:capitalize).join(' ') %></h6>
      <p>ORGANIZATION NAME</p>
    </div>
    <div class="card-info-area">
      <i class="material-icons">local_atm</i>
      <h6><%= number_to_currency(@organization.funding) %></h6>
      <p>TOTAL ONTARIO GOVERNMENT FUNDING</p>
    </div>
    <div class="card-graph">
      <%= render partial: "funding_graph", locals: { organization: @organization } %>
      <p>SOURCES OF FUNDING</p>
      <%= render partial: "transfer_payments", locals: { payments: @organization.funding_by_ministry } %>
    </div>
  </div>
</div>